{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Sovereignty Timer" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Sovereignty Timer" %}
{% endblock header_nav_brand %}

{% block content %}
    <div class="aa-sovtimer">
        <div class="aa-sovtimer-header">
            {% block sovtimer_header %}{% endblock %}
        </div>

        <div class="aa-sovtimer-body">
            <script>
                const sovtimerJsSettingsDefaults = {
                    datetimeFormat: 'YYYY-MMM-DD, HH:mm',
                    language: '{{ LANGUAGE_CODE }}',
                    dataTables: {
                        paging: true,
                        translation: {
                            decimal: '{% translate "." context "Decimal separator" %}',
                            thousands: '{% translate "," context "Thousands separator" %}',
                            emptyTable: '{% translate "No data available in this table" %}',
                            info: '{% translate "Showing _END_ entries" context "Keep _END_ as it is. It will be replaced by a number." %}',
                            infoFiltered: '{% translate "(filtered from _MAX_ total entries)" context "Keep _MAX_ as it is. It will be replaced by a number." %}',
                            infoEmpty: '{% translate "No records available" %}',
                            infoPostFix: '',
                            lengthMenu: '_MENU_',
                            loadingRecords: '{% translate "Loading …" %}',
                            processing: '{% translate "Processing …" %}',
                            zeroRecords: '{% translate "Nothing found, sorry …" %}',
                            search: '_INPUT_',
                            searchPlaceholder: '{% translate "Search …" %}',
                            paginate: {
                                first: '{% translate "First" %}',
                                last: '{% translate "Last" %}',
                                next: '{% translate "Next" %}',
                                previous: '{% translate "Previous" %}'
                            },
                            aria: {
                                sortAscending: '{% translate ": activate to sort column ascending" %}',
                                sortDescending: '{% translate ": activate to sort column descending" %}'
                            }
                        }
                    },
                };
            </script>

            {% block sovtimer_body %}{% endblock %}
        </div>

        <div class="aa-sovtimer-footer mt-3 pt-3 border-top border-light">
            {% include "sovtimer/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
