{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Sovereignty Timer" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Sovereignty Timer" %}
{% endblock header_nav_brand %}

{% block content %}
    <div class="aa-sovtimer">
        <div class="aa-sovtimer-header">
            {% block sovtimer_header %}{% endblock %}
        </div>

        <div class="aa-sovtimer-body">
            {% block sovtimer_body %}{% endblock %}
        </div>

        <div class="aa-sovtimer-footer mt-3 pt-3 border-top border-light">
            {% include "sovtimer/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
