{% extends 'sovtimer/base.html' %}

{% load i18n %}
{% load static %}

{% block sovtimer_header %}
    {% translate "Sovereignty Timer" as translated_header %}
    {% include 'sovtimer/partials/header/h1.html' with header_text=translated_header %}
{% endblock %}

{% block sovtimer_body %}
    {% include 'sovtimer/partials/dashboard/table.html' %}
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}

    <link rel="stylesheet" href="{% static 'sovtimer/css/aa-bootstrap-fix.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'sovtimer/css/aa-sov-timer.min.css' %}" type="text/css">
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    {% include 'bundles/moment-js.html' with locale=True %}

    <script type="application/javascript" src="{% static 'sovtimer/libs/datatables/plugins/dataTables.rowGroup.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'sovtimer/libs/datatables/plugins/datetime.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>

{#    <script type="application/javascript" src="{% static 'aasrp/js/aa-srp.min.js' %}"></script>#}

    <script type="application/javascript">
    const DATETIME_FORMAT = 'YYYY-MM-DD HH:mm'

    $(document).ready(function () {
        var sov_campaign_table = $('.aa-sovtimer-campaigns').DataTable({
            ajax: {
                url: "{% url 'sovtimer:dashboard_data' %}",
                dataSrc: '',
                cache: false
            },
            columns: [
                {data: 'event_type'},
                {data: 'solar_system_name'},
                {data: 'constellation_name'},
                {data: 'region_name'},
                {data: 'defender_name'},
                {#{data: 'adm'},#}
                {data: 'start_time', render: $.fn.dataTable.render.moment(moment.ISO_8601, DATETIME_FORMAT)},
                {data: null},
                {data: 'defender_score'},
            ],
            order: [[5, "asc"]],
            filterDropDown: {
                columns: [
                    {
                        idx: 0,
                    },
                    {
                        idx: 1,
                    },
                    {
                        idx: 2,
                    },
                    {
                        idx: 3,
                    },
                    {
                        idx: 4,
                    },
                    /*
                    {
                        idx: 5,
                    }
                    */
                ],
                autoSize: false,
                bootstrap: true
            },
            paging: false
        });

        setInterval(function() {
            sov_campaign_table.ajax.reload();
        }, 30000 );
    });
    </script>
{% endblock %}

{% block extra_script %}
{% endblock extra_script %}
